language: python

python:
  - "2.7"

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install libmsgpack-dev libblas-dev cmake libfftw3-dev python-numpy valgrind libjpeg-turbo8-dev
 - pip install -r requirements.txt --use-mirrors
 - wget http://downloads.sourceforge.net/project/opencvlibrary/opencv-unix/2.4.5/opencv-2.4.5.tar.gz && tar -xzf opencv-2.4.5.tar.gz && mkdir opencv-2.4.5/build && pushd opencv-2.4.5/build && cmake -D BUILD_TESTS=OFF -D BUILD_PERF_TESTS=OFF -D BUILD_opencv_java=OFF -D  BUILD_opencv_apps=OFF -D BUILD_opencv_calib3d=OFF -D  BUILD_opencv_contrib=OFF -D BUILD_opencv_gpu=OFF -D BUILD_opencv_legacy=OFF -D BUILD_opencv_ml=OFF -D BUILD_opencv_nonfree=OFF -D BUILD_opencv_photo=OFF -D BUILD_opencv_stitching=OFF -D BUILD_opencv_superres=OFF -D BUILD_opencv_ts=OFF -D BUILD_opencv_video=OFF -D BUILD_opencv_videostab=OFF -D BUILD_FAT_JAVA_LIB=OFF -D CMAKE_INSTALL_PREFIX=/usr .. && make -j 8 && sudo make install && popd
 - pushd tests && git clone git://github.com/bwhite/picarus_takeout_models.git && popd

install:
 - cmake . -DCMAKE_BUILD_TYPE=release && make && sudo make install

script: pushd tests && python test_models.py