language: python

python:
  - "2.7"

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install libmsgpack-dev libatlas3gf-base cmake libfftw3-dev libcv-dev
 - sudo pip install -r requirements.txt --use-mirrors

install:
 - sudo python setup.py -q install
 - cmake picarus_takeout
 - make