python:
  - "2.7"

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install libmsgpack-dev libatlas3gf-base cmake libfftw3-dev
 - pip install -r requirements.txt --use-mirrors
 - python setup.py -q install